<!-- {% extends 'NavBar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registration</title>
  </head>

  <body>
    {% block content %} {% block extrahead %}

    <link rel="stylesheet" href="{% static 'app\css\registration.css' %}" />

    {% endblock %}
    <title>Registration</title>

    <div class="main">
      <div class="registration">
        <h2>Registration</h2>
        <form id="register" method="POST">
          <label>Name</label>
          <br />
          <input type="text" placeholder="username" id="name" />
          <br />

          <label>Email</label>
          <br />
          <input type="email" placeholder="@email" id="name" />
          <br />

          <label>Password</label>
          <br />
          <input type="password" placeholder="************" id="name" />
          <br />

          <label>Re-Password</label>
          <br />
          <input id="name" type="password" placeholder="********" />
          <div><button type="submit" id="submit">Register</button></div>
        </form>
      </div>
    </div>
  </body>
  {% endblock %}
</html> -->
